/*The text we will be using is MONTSERRAT for the menu and DROID SANS for the headings*/
/***********
   GENERAL
***********/
body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom:0px;
  width: 100%;
  height:100%;
  min-width: 590px;
  background-color: #F0F0F0;
}

a {
  text-decoration: none;
}

a:link {
  color: #FFF;
}

a:visited {
  color: #FFF;
}

a.selected {
  color: #232323;
  background-color: #C0C0C0;
}
/**********
  HEADING
**********/
#logo {
  display: block;
  width: 500px;
  margin: 0px auto;
  padding-left: 35px;
}

/*************
  NAVIGATION
*************/
.color-strip {
  background-color: #C3BB38;
  height: 12px;
  width: 100%;
  margin-top: 10px;
  border-top: 3px solid #C0C0C0;
}
header {
  background-color: #FFF;
  border-bottom: 5px solid #E3D93B;
}
nav {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #232323;
  border-top: 5px solid #232323;
  border-bottom: 5px solid #C0C0C0;

}

nav ul {
  list-style: none;
  margin: 0px;
}

nav li {
  display: inline-block;
  margin-top: 10px;
}


nav a {
  padding: 15px 15px;
}

.nav-menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
/************
    MAIN
*************/
main {
  margin-top: 0px;
  font-family: 'Droid Sans', sans-serif;
  color: #4F4F4F;
}

section {
  width: 500px;
  margin: 0px auto;
}

.contact-button {
  width: 310px;
  height: 60px;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  border-radius: 10px;
  border: 2px solid #C3BB38;
  background-color: #C3BB38;
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  font-weight: 800;
}
.contact-button:hover {
  background-color: #5C5C5C;
  border-color: #5C5C5C;
}
/************
   ARTICLE
*************/
article {
  border-bottom: 2px solid #C3BB38;
  margin-bottom: 40px;
}
/************
   FOOTER
************/
#sidfot {
clear: both;
width:100%;
height: 300px;
min-width: 590px;
padding-top: 20px;
padding-bottom: 35px;
background: #232323;
color: #FFF;
font-weight: bold;
font-size: 15px;
font-family: 'Montserrat', sans-serif;
/*position: fixed;*/
border-top: 13px solid #C3BB38;
bottom: 0px;
text-align: center;
}

div.contact {
}

input.text {
  width: 200px;
  height: 25px;
}

textarea.message {
  width: 406px;
  height: 50px;
  margin-top: 5px;
}

input.submit {
  width: 207px;
  height: 57px;
  margin-top: 5px;
  border-radius: 10px;
  border: 4px solid #C3BB38;
  background-color: #4F4F4F;
  color: #C0C0C0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 800;
}

input.submit:hover {
  background-color: #858585;
  border-color: #E3D93B;
  color: #FFF;
}

input {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 800;
  font-size: 15px;
}

textarea {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 800;
  font-size: 15px;
}



div.copyright {
  margin-top: 30px;
}

/************
   IMAGES
************/
.blog {
  width: 350px;
  display: block;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 4px;
  background-color: #E3D93B;
  border: 8px solid #C3BB38;
}

.ninja-divider {
  width: 350px;
  padding-top: 60px;
  display: block;
  margin: 0px auto;
}
